body {
  /*color: #3b3a36;*/
  font-family: 'Ubuntu', sans-serif;
  /*background-color: #FFE1C0;*/
  color: #412402;
  background-color: #CDE6F4;
}

header {
  background-color: #3B6A83; /*c0dfd9*/
/*  border-radius: 10px; */
  text-align: center;
  height: 90px;
  /*line-height: 90px; Moves the name down lower in box*/
}

main {
  background-color: #9AB6C5;
}

section {
  /*background-color: #e9ece5;*/
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  /*height: 250px;
  width: 400px;*/
}

.info /*section*/ {
   /*display: inline-block;*/
   display: inline-flex;
   width: 31%;
   height: 300px;
   transform: translateX(15px);
 }

footer {
  background-color: #3B6A83 /*b3c2bf*/;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

footer div {
  display: inline-block;
  font-size: 12px;
  margin-top: 15px;
}
.question {
  font-weight: bold;
}
.right {
  color: green;
}
.incorrect {
  color: red;
}
.notUsed {
  color: blue;
}
#img{
  padding-left: 300px;
  float: inline-end;
}
